aclocal.m4
autoscan.log
autom4te.cache
configure
stamp-h
stamp-h.in
stamp-h1
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
mkinstalldirs
missing
Makefile
Makefile.in
doc
*~
*.gz
*.bz2
*.tar
*.la
*.lo
*.loT
*.o
*.Plo
*.orig
*.rej
.deps
.libs
